* {
  box-sizing: border-box;

  font-family: sans-serif;
  color: #5c5d5e;
  font-weight: 100;
}

body {
  padding-top: 100px;
}

body,
.form-header {
  margin: 0;
}

.form-container {
  font-size: 15px;
  text-align: center;

  width: 440px;

  margin: auto;
  padding: 40px 30px;

  background-color: #f2f3f7;
}

.form-header {
  font-size: 30px;
}

.form-header,
.form-fieldset {
  position: relative;
}

.form-header::before,
.form-header::after,
.form-name {
  position: absolute;
}

.form-header::before,
.form-header::after {
  display: inline-block;
  content:"";

  border-bottom: 2px solid #cfd0d3;

  width: 30%;

  top: 50%;
}

.form-header::before {
  left: 0;
}

.form-header::after {
  right: 0;
}

.form-description {
  margin-bottom: 30px;
}

.form-fieldset {
  padding: 0;
}

.form-fieldset,
.form-input {
  height: 39px;

  margin: 0 0 20px 0;
}

.form-fieldset,
.form-button {
  border: none;
}

.form-input {
  padding: 10px;

  border: 1px solid #c0c2c4;
  border-radius: 3px;

  width: 100%;
}

.form-name {
  width: 47%;
}

.form-first-name {
  left: 0;
}

.form-last-name {
  right: 0;
}

.form-fieldset-policy {
  text-align: left;

  margin: 0 0 25px 0;
  
  height: auto;
}

.policy-link {
  text-decoration: none;
  color: #53ab54;
}

.policy-link:hover {
  color: #3c7e3d;
} 

.form-button {
  width: 100%;

  font-weight: 600;
  color: white;
  font-size: 19px;

  background: #53ab54;
  border-radius: 2px;

  padding: 15px 0;
}

.form-button:hover {
  background: #3c7e3d;
} 

.form-button:active {
  background: #888888;
} 

.form-input:required:valid {
  background-color: #bcffbd;
  border: 1px solid #53ab54;
}

.form-input:focus {
  outline: none;
}

.form-input:required:focus:invalid {
  border: 1px solid rgb(255, 146, 146);
}